NODE_ENV=

REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DATABASES=

RI_PORT=
RI_DISABLE_ENCRYPTION=

POSTGRES_URL=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

APP_PORT=
APP_REQUEST_TIMEOUT=
APP_CORS_ORIGIN=

THROTTLE_TTL_MS=
THROTTLE_LIMIT=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
SMTP_LOG_OTP_ON_FAILURE=

SWAGGER_PATH=
SWAGGER_NAME=
SWAGGER_DESCR=
SWAGGER_SITE_TITLE=

PROXY_BASE_DOMAIN=

VITE_SOME_KEY=
SOME_KEY=

AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_PUBLIC_DNS=

SLUG_ALPHABET=
SLUG_LENGTH=
SLUG_MAX_ATTEMPTS=
