**/node_modules

.env*
!.env.example

**/dist
**/tsconfig.tsbuildinfo
**/.tsbuildinfo.typecheck
**/.tsbuildinfo.build

apps/backend/prisma/generated
apps/backend/compodoc

**/npm-debug.log*

**/.DS_Store

.cursor
docs
